@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica Medium"), local("NeueHaasUnica-Medium"),
    url("assets/font/NeueHaasUnica-Medium.woff2") format("woff2"),
    url("assets/font/NeueHaasUnica-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica Extra Bold"), local("NeueHaasUnica-ExtraBold"),
    url("assets/font/NeueHaasUnica-ExtraBold.woff2") format("woff2"),
    url("assets/font/NeueHaasUnica-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica Light"), local("NeueHaasUnica-Light"),
    url("assets/font/NeueHaasUnica-Light.woff") format("woff"),
    url("assets/font/NeueHaasUnica-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica Bold"), local("NeueHaasUnica-Bold"),
    url("assets/font/NeueHaasUnica-Bold.woff2") format("woff2"),
    url("assets/font/NeueHaasUnica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica Extra Light"), local("NeueHaasUnica-ExtraLight"),
    url("assets/font/NeueHaasUnica-ExtraLight.woff2") format("woff2"),
    url("assets/font/NeueHaasUnica-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica Regular"), local("NeueHaasUnica-Regular"),
    url("assets/font/NeueHaasUnica-Regular.woff2") format("woff2"),
    url("assets/font/NeueHaasUnica-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: local("Neue Haas Unica Thin"), local("NeueHaasUnica-Thin"),
    url("assets/font/NeueHaasUnica-Thin.woff2") format("woff2"),
    url("assets/font/NeueHaasUnica-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "BentonModDisp";
  src: url("assets/font/BentonModDisp/BentonModDisp-Regular.woff2")
      format("woff2"),
    url("assets/font/BentonModDisp/BentonModDisp-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BentonModDisp";
  src: url("assets/font/BentonModDisp/BentonModDisp-RegularIt.woff2")
      format("woff2"),
    url("assets/font/BentonModDisp/BentonModDisp-RegularIt.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "BentonModDisp";
  src: url("assets/font/BentonModDisp/BentonModDisp-Semibold.woff2")
      format("woff2"),
    url("assets/font/BentonModDisp/BentonModDisp-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "BentonModDisp";
  src: url("assets/font/BentonModDisp/BentonModDisp-SemiboldIt.woff2")
      format("woff2"),
    url("assets/font/BentonModDisp/BentonModDisp-SemiboldIt.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
